<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ the_title }}</title>

<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/base.css">
    
  <!-- <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
</head>

<body>

<nav class="navbar navbar-light bg-light">
    <div class="nav-head">
    <img class="logo-text" src="../images/SVG/logo-with-text.svg">
    </div>
</nav>

<div class="container">    
    <div class="row">
      <div class="col-md-6">
        <img class="world" src="../images/SVG/world-map.svg">
          </div>     
      <div class="col-md-6">
          <div class="row">
              <div class="col">
                <h3 class="heading">Title</h3>
              </div>
          </div>
      </div>
  </div>

</body>
</html>