body{
    background: linear-gradient(0.90turn, #95D3BF,#0B2453);
}

p{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
a{
    color:lightblue;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.world{
    width: 100%;
    
}

.country{
    width: 100%;
    fill:white;
}

.heading{
    text-align: center;
}
.nav-head{
    margin-top: 2em;
    margin-left: 4em;
    margin-bottom: 2em;
    color: #fff;
}

.logo-text{
    width: 10em;
}

.back-button{
    transform: translateY(50%);
    margin-right: 1.5em;
}

.live:hover{
    fill: white;
}

#moreInfo{
    color: lightblue;
    margin-top: 5%;
}

.minorheading{
    display: inline-block;
    width: 50%;
}

.minortext{
    display: inline-block;
    width: 30%;
}

.whatcanido{
    text-align: center;
    margin-top: 2em;
}