body{
    background: linear-gradient(0.90turn, #95D3BF,#0B2453);
}

p{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
a{
    color:lightblue;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.world{
    width: 100%;
    
}

.country{
    max-width: 100%;
    max-height: 100%;
    fill:white;
}
.country-area{
    height: 75%;
}

.heading{
    text-align: center;
}
.nav-head{
    margin-top: 2em;
    margin-left: 4em;
    margin-bottom: 2em;
    color: #fff;
}

.logo-text{
    width: 10em;
}

.back-button{
    transform: translateY(50%);
    margin-right: 1.5em;
}

.live:hover{
    fill: white;
}

#moreInfo{
    color: lightblue;
    margin-top: 5%;
    border-style: solid;
    padding: 0.5em;
    border-radius: 10px;
    border-width: 2px;
}

.minorheading{
    display: inline-block;
    width: 50%;
}

.minortext{
    display: inline-block;
    width: 30%;
}

.whatcanido{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 10em;
}

#whatcanido{
    border-style: solid;
    border-color: lightblue;
    padding: 0.5em;
    border-radius: 10px;
    border-width: 2px;
}

.svg-wrap{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border-width: .25em;
    border-color: white;
    border-style: solid;
    stroke: white;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    cursor: pointer;
}

.icon{
    width: 8em;
}

.activeicon{
    transform: translateX(75%);
}